html{

	font-family:fantasy;
	
}

#contenu{

	background-color:#e0ffff;
	border:1px ;
	width:90%;
	margin-left:5%;
}

h1{
	text-align:center;
}

table{
	width:92%;
	border:1px solid black;
	border-collapse:collapse;
	table-layout:fixed;
	display:block;
	margin:auto;
	background-color:white;
	margin-bottom:12%;
}


th{
	background:#ffe4;
	border:1px solid black;
}
.fileheader{
	background:#ffb6c1;
	color:indianred;
	font-weight:normal;
	
}

td{

	border:1px solid black;
	padding:11px;
}